<div class="panel">
  <a class="no-underline" role="button" data-toggle="collapse" data-parent="#accordion" href="#userForm" aria-expanded="true"
  (click)="collapse = !collapse" aria-controls="userForm">
    <div class="panel-heading">
      <h3 class="panel-title">New User</h3>
      <div class="panel-actions plus-sign" [ngClass]="{'panel-actions-collapse': collapse}"></div>
    </div>
  </a>
  <div class="panel-body">
    <div id="userForm" class="panel-collapse collapse" role="tabpanel">
      <form [formGroup]="userForm" (ngSubmit)="addUser()" novalidate>
        <div class="row row-lg">
          <div class="col-lg-6 form-horizontal">
            <div class="form-group">
              <label class="col-lg-12 col-sm-3 control-label" for="firstName">
                First name
              </label>
              <div class="col-lg-12 col-sm-9">
                <input id="firstName" class="form-control" name="firstName" formControlName="firstName" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-12 col-sm-3 control-label" for="phone">
                Phone number
              </label>
              <div class="col-lg-12 col-sm-9">
                <input id="phone" class="form-control" name="phone" formControlName="phone" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-12 col-sm-3 control-label" for="subsidiary">
                Subsidiary
              </label>
              <div class="col-lg-12 col-sm-9">
              <select name="subsidiary" id="subsidiary" class="form-control" formControlName="subsidiary">
                <option *ngFor="let subsidiary of subsidiaries" [value]="subsidiary._id">{{subsidiary.name}}</option>
              </select>
            </div>
            </div>
          </div>
          <div class="col-lg-6 form-horizontal">
            <div class="form-group">
              <label class="col-lg-12 col-sm-3 control-label" for="lastName">
                Last name
              </label>
              <div class="col-lg-12 col-sm-9">
                <input id="lastName" class="form-control" name="lastName" formControlName="lastName" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-12 col-sm-3 control-label" for="email">
                E-mail
              </label>
              <div class="col-lg-12 col-sm-9">
                <input id="email" class="form-control" name="email" formControlName="email" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-12 col-sm-3 control-label" for="role">
                Role
              </label>
              <div class="col-lg-12 col-sm-9">
                <select name="role" id="role" class="form-control" formControlName="role">
                  <option value="admin">Admin</option>
                  <option value="service">Service</option>
                  <option value="subsidiary">Subsidiary</option>
                  <option value="manager">Manager</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group col-lg-12 text-right padding-top-m">
            <button class="btn btn-primary" [disabled]="!userForm.valid">
              Add User
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Users list</h3>
  </div>
  <div class="panel-body">
    <div class="white-box user-table" *ngIf="!isLoading">
      <div class="table-responsive" *ngIf="users.length">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Subsidiary</th>
              <th>Created at</th>
              <th>Role</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{user?.firstName+' '+user?.lastName}}</td>
              <td>{{user?.email}}</td>
              <td>{{user?.phone}}</td>
              <td>{{user?.subsidiary?.name}}</td>
              <td>{{user?.createdAt | date:'fullDate'}}</td>
              <td>
                <span class="label margin-left-3" [ngClass]="labels[user?.role]">{{user?.role}}</span>
              </td>
              <td>{{user?.isActive ? "Active" : "Disactivated"}}</td>
              <td>
                <button (click)="changeUserStatus(user)">{{user?.isActive ? "Disactivate " : "Activate"}}</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-center" *ngIf="!isLoading && !users.length">
        <div class="alert alert-info" role="alert">
          No users to display
        </div>
      </div>
    </div>
  </div>
</div>
