/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeng/resources/themes/bootstrap/theme.css";

body {
  width: 100%;
  background-color: #f1f1f1;
}

.input-group {
  margin-bottom: 15px;
}
.panel-actions.plus-sign {
  top: 20px;
  position: absolute;
  right: 20px;
  font-family: "Web Icons";
  transition: all 300ms linear 0s;
  &::before {
    content: "\F197";
  }
}
.panel-actions-collapse.plus-sign::before {
  content: "\F199" !important;
}
