<div class="panel">
    <a class="no-underline" role="button" data-toggle="collapse" data-parent="#accordion" href="#customerForm" aria-expanded="true"
        aria-controls="customerForm">
        <div class="panel-heading">
            <h3 class="panel-title padding-left-15">
                <i class="fa fa-pencil"></i>
                Update customer
            </h3>
            <div class="panel-actions">
            </div>
        </div>
    </a>
    <div class="panel-body">
        <div id="customerForm" class="panel-collapse collapse in" role="tabpanel">
            <form [formGroup]="customerForm" (submit)="updateCustomer()" novalidate>
                <h5>Basic information</h5>
                <div class="row row-lg">
                    <div class="col-lg-6 form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-12 col-sm-3 control-label" for="name">
                                Name
                            </label>
                            <div class="col-lg-12 col-sm-9">
                                <input id="name" class="form-control" name="name" formControlName="name" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-12 col-sm-3 control-label" for="phone">
                                Phone
                            </label>
                            <div class="col-lg-12 col-sm-9">
                                <input id="phone" class="form-control" name="phone" readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-12 col-sm-3 control-label" for="discount">
                                Discount
                            </label>
                            <div class="col-lg-12 col-sm-9">
                                <input type="number" id="discount" class="form-control" name="discount" formControlName="discounts" min="0" max="100" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-12 col-sm-3 control-label" for="vat">
                                VAT
                            </label>
                            <div class="col-lg-12 col-sm-9">
                                <input type="number" id="vat" class="form-control" name="vat" formControlName="vat" min="0" max="100" />
                            </div>
                        </div>
                    </div>
                </div>
                <h5>Address</h5>
                <div class="row row-lg">
                    <div class="col-lg-6 form-horizontal">
                        <div class="form-group">
                            <label for="street" class="col-lg-12 col-sm-3 control-label">Street</label>
                            <div class="col-lg-12 col-sm-9">
                                <input id="street" name="street" class="form-control" readonly [value]="customer?.street || ''" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 form-horizontal">
                        <div class="form-group">
                            <label for="city" class="col-lg-12 col-sm-3 control-label">City</label>
                            <div class="col-lg-12 col-sm-9">
                                <input id="city" name="city" class="form-control" readonly [value]="customer?.city || ''" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 form-horizontal">
                        <div class="form-group">
                            <label for="state" class="col-lg-12 col-sm-3 control-label">State</label>
                            <div class="col-lg-12 col-sm-9">
                                <input id="state" name="state" class="form-control" readonly [value]="customer?.state || ''" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 form-horizontal">
                        <div class="form-group">
                            <label for="country" class="col-lg-12 col-sm-3 control-label">Country</label>
                            <div class="col-lg-12 col-sm-9">
                                <input id="country" name="country" class="form-control" readonly [value]="customer?.country || ''" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group text-right margin-vertical-0">
                    <button class="btn btn-primary" type="submit" [disabled]="!customerForm.valid">
                        Update
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-xs-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title padding-left-15">
                    <i class="fa fa-address-book-o"></i>
                    Customer contacts list
                </h3>
                <div class="panel-actions"></div>
            </div>
            <div class="panel-body">
                <div *ngIf="!isContactsLoading; else contactsLoading">
                    <div class="white-box user-table">
                        <div class="table-responsive" *ngIf="contacts.length">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Full Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Location</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let contact of contacts">
                                        <td>{{contact['Full Name']}}</td>
                                        <td>{{(contact['Email']==="null")?'':contact['Email']}}</td>
                                        <td>{{(contact['Phone']==="null")?'':contact['Phone']}}</td>
                                        <td>
                                            {{(contact['Mailing City']==="null")?'':contact['Mailing City']+' '}} {{(contact['Mailing Country']==="null")?'':contact['Mailing
                                            Country']}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="text-center" *ngIf="!contacts.length">
                        <div class="alert alert-info" role="alert">
                            0 contacts to display
                        </div>
                    </div>
                </div>
                <ng-template #contactsLoading>
                    <div class="card text-center">
                        <h4 class="card-header">Loading...</h4>
                        <div class="card-block text-xs-center">
                            <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xs-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title padding-left-15">
                    <i class="fa fa-list-ul"></i>
                    Customer projects list
                </h3>
                <div class="panel-actions"></div>
            </div>
            <div class="panel-body">
                <div *ngIf="!isProjectsLoading; else projectsLoading">
                    <div class="white-box user-table">
                        <div class="table-responsive" *ngIf="projects.length">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="max-width: 40%">Name</th>
                                        <th>Owner</th>
                                        <th>Subsidiary</th>
                                        <th>Types</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let project of projects">
                                        <td>
                                            <div>
                                                <a [routerLink]="['/projects', project._id]" class="no-underline">{{project.name}}</a>
                                            </div>
                                        </td>
                                        <td>{{(project?.createdBy?.firstName || '') +' '+ (project?.createdBy?.lastName || '')}}</td>
                                        <td>
                                            <div class="clearfix">
                                                {{project.createdBy?.subsidiary?.name || 'No subsidiary'}}
                                            </div>
                                        </td>
                                        <td>
                                            <span *ngFor="let type of project.types" class="label label-info margin-left-3">{{type}}</span>
                                        </td>
                                        <td>
                                            <span class="label label-warning">{{project.status[0]?.label}}</span>
                                        </td>
                                        <td>
                                            <button [routerLink]="['/projects', project._id]" class="btn btn-default btn-flat btn-icon btn-sm pull-right">
                                                <i aria-hidden="true" class="fa fa-info"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="text-center" *ngIf="!projects.length">
                        <div class="alert alert-info" role="alert">
                            0 projects to display
                        </div>
                        <a [routerLink]="['/projects', 'new']" class="btn btn-default">Create new project</a>
                    </div>
                </div>
                <ng-template #projectsLoading>
                    <div class="card text-center">
                        <h4 class="card-header">Loading...</h4>
                        <div class="card-block text-xs-center">
                            <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>