<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Profiles</h3>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" [formGroup]="profilesForm" (ngSubmit)="updateProfiles()" novalidate>
      <div class="row row-lg">
        <div class="col-lg-6 form-horizontal">
          <div class="form-group">
            <label class="col-lg-12 col-sm-3 control-label" for="architect">
              Architect
            </label>
            <div class="col-lg-12 col-sm-9">
              <input type="number" id="architect" class="form-control" name="architect" formControlName="architect"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-12 col-sm-3 control-label" for="mobile">
              Mobile
            </label>
            <div class="col-lg-12 col-sm-9">
              <input type="number" id="mobile" class="form-control" name="mobile" formControlName="mobile"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-12 col-sm-3 control-label" for="backend">
              Backend
            </label>
            <div class="col-lg-12 col-sm-9">
              <input type="number" id="backend" class="form-control" name="backend" formControlName="backend"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-12 col-sm-3 control-label" for="web">
              Web
            </label>
            <div class="col-lg-12 col-sm-9">
              <input type="number" id="web" class="form-control" name="web" formControlName="web"/>
            </div>
          </div>
        </div>
        <div class="col-lg-6 form-horizontal">
          <div class="form-group">
            <label class="col-lg-12 col-sm-3 control-label" for="designer">
              Designer
            </label>
            <div class="col-lg-12 col-sm-9">
              <input type="number" id="designer" class="form-control" name="designer" formControlName="designer"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-12 col-sm-3 control-label" for="tester">
              Tester
            </label>
            <div class="col-lg-12 col-sm-9">
              <input type="number" id="tester" class="form-control" name="tester" formControlName="tester"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-12 col-sm-3 control-label" for="manager">
              Manager
            </label>
            <div class="col-lg-12 col-sm-9">
              <input type="number" id="manager" class="form-control" name="manager" formControlName="manager"/>
            </div>
          </div>
        </div>
        <div class="form-group col-lg-12 text-right padding-top-m">
          <button class="btn btn-primary" [disabled]="!profilesForm.valid">
            Save change
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
