<div class="panel">
  <a class="no-underline" role="button" data-toggle="collapse" href="#project-gdpr">   
    <div class="panel-heading">
      <h3 class="panel-title padding-left-15">
        <i class="fa fa-id-card" aria-hidden="true"></i>
        GDPR
      </h3>
    </div>
  </a>
  <div class="panel-body panel-collapse collapse in" id="project-gdpr">
    <form  [formGroup]="gdprForm" (ngSubmit)="createProjectGdpr()"   novalidate>
      <div formGroupName="gdprData" class="row col-md-12 col-sm-12">

        <div formGroupName="data" class="col-md-12 col-sm-12 form-group">
          <h4>Data</h4>
          <div class="panel gdprPanel">
              <div class="panel-body" id="project-gdpr-data">

                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        <input  type="checkbox" id="isEuropean" name="isEuropeanCitizens" value="isEuropean"
                                formControlName="isEuropean" />
                        <label  for="isEuropean">Does the data concern European citizens ?</label>
                      </div>
                      <div class="form-group">
                          <label for="sensitivityLevel">
                            data sensitivity level:
                          </label>
                          <select name="dataSensitivityLevel" id="sensitivityLevel" class="form-control"
                                  formControlName="sensitivityLevel" [(ngModel)]="sensitivityLevel" >
                            <option  value="standard data">Standard data</option>
                            <option  value="personnal data">Personnal data</option>
                            <option  value="sensitive data">Sensitive data</option>
                          </select>
                      </div>
                    </div>

                    <div  *ngIf="sensitivityLevel=='personnal data'|| sensitivityLevel=='sensitive data'">
                      <div class="col-md-6 col-sm-12 form-group">
                          <input type="checkbox" id="isDataProcessor" 
                                  formControlName="isDataProcessor" #isDataProcessorRef (change)="OnIsDataProcessorChange(isDataProcessorRef)" />
                          <label for="isDataProcessor">Are we Data Processor ( Sous traitant) ?</label>
                      </div>
          
                      <div class="col-md-6 col-sm-12 form-group" *ngIf="showClearOrEncrypted">
                        <label class="control-label" for="clearOrEncrypted">
                          How 4D receives Data by client ?
                        </label>
                        <select name="clearOrEncrypted" id="clearOrEncrypted" class="form-control" formControlName="clearOrEncrypted" >
                          <option  value="clear data">Clear data</option>
                          <option  value="encrypted">Encrypted</option>
                        </select>
                      </div>
                    </div>
              </div>
          </div>
        </div>

        <div formGroupName="hosting" class="col-md-6 col-sm-12 form-group">
            <h4>Hosting</h4>
          <div class="panel gdprPanel">
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label" for="whoHostData">
                      Who host the data ?
                    </label>
                    <select name="whoHostData" id="whoHostData" class="form-control"
                            formControlName="whoHostData" [(ngModel)]="whoHostData"  >
                      <option  value="unsupported">Unsupported</option>
                      <option  value="client">Client</option>
                      <option  value="4d">4D</option>
                      <option  value="third party">Third Party</option>
                    </select>
                  </div>
        
                  <div class=" form-group" *ngIf="whoHostData=='third party'">
                    <input type="checkbox" id="hostinglink" name="isA4dAndHostingLink"
                          formControlName="hostinglink" #hostinglinkRef (change)="OnhostinglinkChange(hostinglinkRef)"/>
                    <label  for="hostinglink">Is there a link between the 4D project and a possible hosting ?</label>
                  </div>
        
                  <div class=" form-group" *ngIf="showHostLink">
                    <input type="checkbox" id="askingHostingContract" name="askingHostingContract" value="askingHostingContract"
                          formControlName="askingHostingContract" />
                    <label  for="askingHostingContract">is it possible to ask the  hosting contract ?</label>
                  </div>
            </div>
          </div>
        </div>

        <div formGroupName="data_management" class="col-md-6 col-sm-12 form-group">
          <h4>4D data management</h4>
            <div class="panel gdprPanel">
                <div class="panel-body">
                      <div>
                        <input type="checkbox" id="isAccessingData" name="isAccessingData" value="isAccessingData"
                              formControlName="isAccessingData" [(ngModel)]="isAccessingData"/>
                        <label  for="isAccessingData">will we access the data ?</label>
                      </div>
            
                      <div *ngIf="isAccessingData">
                        <div>
                          <label class=" control-label" for="howDataAccess">
                              How ?
                          </label>
                          <select name="howDataAccess" id="howDataAccess" class="form-control"
                                  formControlName="howDataAccess"  >
                            <option  value="regie">Regie</option>
                            <option  value="remote">Remote</option>
                            <option  value="ftp">Making available via FTP</option>
                          </select>
                        </div>
            
                        <div >
                          <label class=" control-label" for="howDataAccess">
                              Who will access ?
                          </label>
                          <select name="howWillAccess" id="howWillAccess" class="form-control"
                                  formControlName="howWillAccess"  multiple >
                            <option  value="morocco">4D morocco</option>
                            <option  value="us">4D US</option>
                            <option  value="france">4D France</option>
                            <option  value="japon">4D Japon </option>
                            <option  value="australie ">4D Australia </option>
                            <option  value="latin america">4D Latin America </option>
                          </select>
                        </div>
                      </div>
                </div>
              </div>
        </div>

        <div class="row row-lg">
          <div class="form-group col-lg-12 text-right padding-top-m">
            <button class="btn btn-primary" [disabled]="!gdprForm.valid">Save</button>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
