<div class="panel" *ngIf="visible">
  <a class="no-underline" role="button" data-toggle="collapse" href="#financial">
    <div class="panel-heading">
      <h3 class="panel-title padding-left-15">
        <i class="fa fa-euro"></i>
        Financial
      </h3>
    </div>
  </a>
  <div id="financial" class="panel-body panel-collapse collapse in" role="tabpanel">
    <div class="row" *ngIf="project.hasOwnProperty('profiles')">
      <!--financial-->
      <div class="col-sm-12 table-responsive">
        <h4>Profiles</h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 20%;">Profile</th>
              <th>Quantity</th>
              <th>Unit price</th>
              <th style="width: 10%;">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let profile of profilesBudget; let i = index">
              <td class="text-capitalize">
                {{profile.label}}
              </td>
              <td>
                {{project?.profiles[profile.label]}}
              </td>
              <td>
                {{profile.budget}}
              </td>
              <td>{{profile.budget * project?.profiles[profile.label] | number:'.0-2'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--End financial-->
    </div>
    <div class="row">
      <div class="col-sm-12 table-responsive" *ngIf="project?.sprints?.length > 0">
        <h4>Sprints</h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 20%;">Sprint</th>
              <th>Features</th>
              <th>Duration</th>
              <th style="width: 10%;">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sprint of project?.sprints; let i = index">
              <td class="text-capitalize">
                {{i}}
              </td>
              <td>
                {{getSprintFeatures(sprint._id)}}
              </td>
              <td>
                {{sprint.duration}}
              </td>
              <td>{{totalTTC/project.sprints.length | number:'.0-2'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pull-right text-right margin-right-20">
        <p>Subtotal : ${{subTotal | number:'.0-2'}}</p>
        <p *ngIf="!editDiscount;else update_discount">
          <span class="fa fa-pencil margin-right-10" style="cursor: pointer;" (click)="editDiscount = !editDiscount"></span>
          Discount ({{(project?.discount | number:'.0-2') + ' %'}}) : {{(totalDiscount | number:'.0-2')||'-'}}
        </p>
        <ng-template #update_discount>
          <form class="form-inline margin-bottom-10" [formGroup]="discountForm" (ngSubmit)="updateDiscount()">
            <div class="form-group form-group-sm">
              <!-- <label class="control-label" for="name">
                Discount
              </label> -->
              <input id="name" type="number" class="form-control" name="Name" formControlName="discount" min="0" max="100" [value]="project?.discount"/>
              <button class="btn btn-sm btn-default" type="submit">
                <i class="fa fa-check"></i>
              </button>
              <button class="btn btn-sm btn-default" type="reset" (click)="editDiscount = !editDiscount">
                <i class="fa fa-share"></i>
              </button>
            </div>
          </form>
        </ng-template>
        <p>Total HT : {{totalHT | number:'.0-2'}}</p>
        <p>VAT {{project?.customer?.vat ? '(' + (project?.customer?.vat | number:'.0-2') + ' %)' : ''}} : {{(totalVAT | number:'.0-2')
          || '-'}}</p>
        <hr>
        <h3>
          <b>Total :</b> ${{totalTTC | number:'.0-2'}}</h3>
      </div>
    </div>
  </div>
</div>