.fw-500 {
  font-weight: 500;
}

.checkbox-custom {
  cursor: pointer;
}

#accordion {
  .panel-body {
    max-height: 700px;
    .input-group {
      max-height: 630px;
      overflow: auto;
      display: block;
      padding-left: 5px;
      margin-top: 5px;
      font-size: 13px;
    }
  }
}

.no-before:before {
  content: none;
}
#headingProjects,
#headingResources {
  cursor: pointer;
}
