<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Planning</h3>
    <div class="panel-actions">
    </div>
  </div>
  <div class="panel-body">
    <p-dialog [(visible)]="displayDialog" *ngIf="project">
      <div class="panel">
        <div class="panel-body">
          <div>
            <h5 class="inline">Project name:</h5> {{project?.name}}</div>
          <div>
            <h5 class="inline">Owner:</h5> {{project?.createdBy?.firstName+' '+project?.createdBy?.lastName}}</div>
          <div>
            <h5 class="inline">Creation date:</h5> {{project?.createdAt | date:'medium'}}</div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-body">test</div>
      </div>
      <div class="panel">
        <div class="panel-body">test</div>
      </div>
    </p-dialog>

    <div class="row">
      <div class="col-xs-4 col-lg-2">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">

            <div class="panel-heading" role="tab" id="headingProjects" (click)="onTabOpen(0)" data-toggle="collapse" data-parent="#accordion"
              href="#collapseProjects" aria-expanded="true" aria-controls="collapseProjects">
              <h4 class="panel-title" [ngClass]="{'no-before': index===0}">
                  Projects
              </h4>
            </div>

            <div id="collapseProjects" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingProjects">
              <div class="panel-body">
                <input type="text" class="form-control" [(ngModel)]="search">
                <div class="input-group">
                  <div class="checkbox-custom checkbox-primary block" *ngFor="let project of projectsPlanning | filter:'title':search">
                    <input type="checkbox" [checked]="project.selected" [value]="project.id" [id]="project.id" (change)="project.selected = !project.selected">
                    <label [for]="project.id">{{project?.title}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default" *ngIf="!isSubsidiary">
            <div class="panel-heading" role="tab" id="headingResources" data-toggle="collapse" (click)="onTabOpen(1)" data-parent="#accordion"
              href="#collapseResources" aria-expanded="true" aria-controls="collapseResources">
              <h4 class="panel-title" [ngClass]="{'no-before': index===1}">
                <a role="button">
                  Resources
                </a>
              </h4>
            </div>
            <div id="collapseResources" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingResources">
              <div class="panel-body">
                <input type="text" class="form-control" [(ngModel)]="searchResource">
                <div class="input-group">
                  <div class="checkbox-custom checkbox-primary block" *ngFor="let resource of resources | filter:'name':searchResource">
                    <input type="checkbox" [checked]="resource.selected" [value]="resource._id" [id]="resource._id" (change)="resource.selected = !resource.selected">
                    <label [for]="resource._id">{{resource?.name}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="margin-top-5 pull-right">
          <button class="btn btn-sm btn-primary fw-500" (click)="getPlanning()">Apply</button>
          <button class="btn btn-sm btn-default fw-500" (click)="clearSelection()">Clear</button>
        </div>
      </div>
      <div class="col-xs-8 col-lg-10">
        <p-schedule [events]="events" *ngIf="!isLoading; else loadingBlock" [header]="headerConfig" (onEventClick)="handleEventClick($event)"></p-schedule>
      </div>
    </div>
    <ng-template #loadingBlock>
      <app-loading [condition]="isLoading" class="text-center"></app-loading>
    </ng-template>
  </div>
</div>