<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title padding-left-15">
      <i class="fa fa-edit"></i>
      Create new project
    </h3>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" [formGroup]="newProjectForm" (ngSubmit)="newProject()" novalidate>
      <h5>Stakeholders</h5>
      <div class="row row-lg" formGroupName="stakeholders">
        <div class="col-lg-4 form-horizontal">
          <div class="form-group">
            <label class="col-lg-12 col-sm-3 control-label" for="subsidiary">
              Sales rep
            </label>
            <div class="col-lg-12 col-sm-9">
              <ng2-completer inputId="subsidiary" inputName="subsidiary"
                             inputClass="form-control"
                             [openOnFocus]="true"
                             placeholder="Select an owner"
                             formControlName="subsidiary"
                             [minSearchLength]="0"
                              (selected)="updateSkateholders({field: 'subsidiary', event: $event})"
                              [(ngModel)] = "selectedSubsidiary"
                             [datasource]="ownerUsers">
              </ng2-completer>
            </div>
          </div>
          </div>
        <div class="col-lg-4 form-horizontal">
          <div class="form-group">
            <label class="col-lg-12 col-sm-3 control-label" for="name">
              Service
            </label>
            <div class="col-lg-12 col-sm-9">
              <ng2-completer inputId="service" inputName="service"
                             inputClass="form-control"
                             [openOnFocus]="true"
                             placeholder="Select a service"
                             formControlName="service"
                             [minSearchLength]="0"
                              (selected)="updateSkateholders({field: 'service', event: $event})"
                              [(ngModel)] = "selectedService"
                             [datasource]="serviceUsers">
              </ng2-completer>
            </div>
          </div>
          </div>
        <div class="col-lg-4 form-horizontal">
          <div class="form-group">
            <label class="col-lg-12 col-sm-3 control-label" for="name">
              Manager
            </label>
            <div class="col-lg-12 col-sm-9">
              <ng2-completer inputId="manager" inputName="manager"
                             inputClass="form-control"
                             [openOnFocus]="true"
                             placeholder="Select a manager"
                             formControlName="manager"
                             [minSearchLength]="0"
                              (selected)="updateSkateholders({field: 'manager', event: $event})"
                              [(ngModel)] = "selectedManager"
                             [datasource]="managerUsers">
              </ng2-completer>
            </div>
          </div>
          </div>
      </div>
      <h5>Project informations</h5>
      <div class="row row-lg">
        <div class="col-lg-6 form-horizontal">
          <div class="form-group">
            <label class="col-lg-12 col-sm-3 control-label" for="name">
              Name <span class="required">*</span>
            </label>
            <div class="col-lg-12 col-sm-9">
              <input id="name" class="form-control" name="Name" formControlName="name" placeholder="My Project"
                     required/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-12 col-sm-3 control-label" for="customer">
              Customer <span class="required">*</span>
            </label>
            <div class="col-lg-12 col-sm-9">
              <ng2-completer inputId="customer" inputName="customer"
                             inputClass="form-control"
                             [openOnFocus]="true"
                             placeholder="Select a customer"
                             formControlName="customer"
                             [minSearchLength]="2"
                             dataField="customers"
                             [datasource]="dataService">
              </ng2-completer>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-12 col-sm-3 control-label" for="description">
              Description
            </label>
            <div class="col-lg-12 col-sm-9">
          <textarea id="description" name="description" formControlName="description" class="form-control" rows="2">
          </textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-12 col-sm-3 control-label" for="notes">
              Note
            </label>
            <div class="col-lg-12 col-sm-9" formGroupName="notes">
              <textarea id="notes" name="notes" formControlName="note" class="form-control" rows="1"></textarea>
            </div>
          </div>
          <div class="form-group" *ngIf="showTechnologies">
            <label class="col-lg-12 col-sm-3 control-label" for="technologies">
              Technologies
            </label>
            <div class="col-lg-12 col-sm-9">
            <textarea id="technologies" name="technologies" formControlName="technologies" class="form-control"
                      rows="1"></textarea>
            </div>
          </div>
        </div>
        <div class="col-lg-6 form-horizontal">
          <div class="form-group">
            <label class="col-lg-12 col-sm-3 control-label" for="language">
              Language
            </label>
            <div class="col-lg-12 col-sm-9">
              <input id="language" class="form-control" name="language" formControlName="language" placeholder="Language"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-12 col-sm-3 control-label">
              Attachements
            </label>
            <div class=" col-lg-12 col-sm-9">
              <input type="file" #attachments class="form-control" name="attachments" (change)="updateFiles($event)" multiple/>
              <div class="table-responsive" *ngIf="files.length!==0">
                <table class="table">
                  <thead>
                  <tr>
                    <th width="50%">Name</th>
                    <th>Size</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of files; let i = index">
                    <td>{{ item?.name }}</td>
                    <td nowrap>{{ item?.size/1024/1024 | number:'.2' }} MB</td>
                    <td nowrap>
                      <button type="button" class="btn btn-danger btn-xs" (click)="remove(i)">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-12 col-sm-3 control-label" for="type">
              Type(s)
            </label>
            <div class="col-lg-12 col-sm-9">
              <div class="input-group">
                <div class="checkbox-custom checkbox-primary block"
                     *ngFor="let type of types.controls; let i=index">
                  <input type="checkbox" [formControl]="type" [id]="i">
                  <label [for]="i"> {{typeValues[i].name}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-lg">
        <div class="form-group col-lg-12 text-right padding-top-m">
          <button class="btn btn-primary" [disabled]="!newProjectForm.valid">
            Create Project
          </button>
          <button class="btn btn-inverse" routerLink="/projects">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
