
.site-menubar-body {
  height: 100%;
  height: -webkit-calc(100% - 76px);
  height: calc(100% - 76px);
}

.site-menubar {
  position: fixed;
  top: 66px;
  z-index: 140;
  height: 100%;
  height: -webkit-calc(100% - 66px);
  height: calc(100% - 66px);
  font-family: "Roboto", sans-serif;
  background: #054487;
  width: 260px;
  ul {
    padding: 0;
    margin: 11px 0;
    list-style: none;
  }
}

.site-menu-item {
  position: relative;
  white-space: nowrap;
  line-height: 36px;
  padding: 10px 0;
  a {
    display: block;
    color: #3498db;
  }
}

.site-menu-icon {
  margin-right: 16px;
}

.site-menu {
  padding-bottom: 20px;
  overflow-y: hidden;
  font-size: 14px;
  > .site-menu-item {
    > a {
      padding: 0 30px;
      line-height: 46px;
      .site-menu-title {
        font-size: 17px;
        font-weight: 400;
      }
    }
    &.active {
      > a {
        color: #ffffff;
        background: inherit;
      }
    }
  }
}

.before-run [data-toggle="menubar"] .hamburger-arrow-left {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  .hamburger-bar {
    border-radius: .2em;
  }
  &:after {
    width: .6em;
    -webkit-transform: translate3d(.45em, -.1em, 0) rotate(-45deg);
    transform: translate3d(.45em, -.1em, 0) rotate(-45deg);
  }
  &:before {
    width: .6em;
    -webkit-transform: translate3d(.45em, .1em, 0) rotate(45deg);
    transform: translate3d(.45em, .1em, 0) rotate(45deg);
  }
}

.after-run .site-menubar-fold .site-menu > .site-menu-item > a .site-menu-icon {
  margin-right: 0;
  font-size: 24px;
  visibility: visible;
  opacity: 1;
}

li.site-menu-item.has-sub > a.active {
  color: #fff !important;
  border-color: transparent;
  border-bottom-color: #62a8ea;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .site-menubar {
    width: 220px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

}
