<div class="site-menubar">
  <div class="site-menubar-body">
    <div>
      <div>
        <ul class="site-menu">
          <li class="site-menu-item has-sub" *ngFor="let item of routes">
            <a data-slug="dashboard" [routerLink]="item.route" [routerLinkActive]="['active', 'open']"
               [routerLinkActiveOptions]="{exact:true}">
              <i class="site-menu-icon fa" [ngClass]="item.icon" aria-hidden="true"></i>
              <span class="site-menu-title">{{item.title}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
