<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Projects list</h3>
    <div class="panel-actions">
        <div class="completerStatus">
            <label class="control-label" for="statusFilter">
                Filters :
            </label>
            <ng2-completer  inputId="statusFilter" inputName="statusFilter"
                          inputClass="form-control"
                          [openOnFocus]="true"
                          placeholder="Select a status"
                          [minSearchLength]="0"
                          (selected)="checkStatus2($event)"
                          [datasource]="statusFilter">
            </ng2-completer>
        </div>
        <button [routerLink]="['/projects', 'new']" class="btn btn-primary">Add project</button>
    </div>
  </div>
  <hr class="margin-vertical-5">    
  <div class="panel-body">
    <div class="white-box user-table" *ngIf="!isLoading; else loadingBlock">
      <div class="table-responsive" *ngIf="projectsToShow.length">
        <table class="table table-hover">
          <thead>
          <tr>
            <th style="max-width: 40%">Name</th>
            <th>Owner</th>
            <th>Subsidiary</th>
            <th>Customer</th>
            <th>Types</th>
            <th>Status</th>
            <th>Total</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let project of projectsToShow">
            <td>
              <div><a [routerLink]="['/projects', project._id]" class="no-underline">{{project.name}}</a></div>
              <div class="small text-muted">
                {{project.description || 'No description'}}
              </div>
            </td>
            <td>{{(project.createdBy?.firstName || '') +' '+ (project.createdBy?.lastName || '')}}</td>
            <td>
              <div class="clearfix">
                {{project.createdBy?.subsidiary?.name || 'No subsidiary'}}
              </div>
            </td>
            <td>
              <div class="clearfix">
                {{project.customer.name}}
              </div>
            </td>
            <td>
              <span *ngFor="let type of project.types" class="label label-info margin-left-3">{{type}}</span>
            </td>
            <td><span class="label label-warning">{{project.status[0]?.label}}</span></td>
            <td><span >${{project.total | number:'.0-2'}}</span></td>
            <td>
              <button [routerLink]="['/projects', project._id]"
              pTooltip="details" tooltipPosition="top"
               class="btn btn-default btn-flat btn-icon btn-sm pull-right">
                <i aria-hidden="true" class="fa fa-info"></i>
              </button>
            </td>
            
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ng-template #loadingBlock>
      <app-loading [condition]="isLoading" class="text-center"></app-loading>
    </ng-template>
    <div class="text-center" *ngIf="!isLoading" >
      <div class="alert alert-info" role="alert" *ngIf="!projectsToShow.length">
        0 projects to display
      </div>
      <a *ngIf="!projects.length" [routerLink]="['/projects', 'new']" class="btn btn-default">Create new project</a>
    </div>
  </div>
</div>
