.completerStatus{
    display: inline-block;
    margin: 0 15px;
    vertical-align: middle;
    ng2-completer{
        display: inline-block;
        vertical-align: middle;
    }
    .control-label{
        font-weight: 500;
    }
}

.completer-dropdown {
    width: 96% !important;
    overflow-x: hidden;
    max-height: 200px;
}