<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided"
            data-toggle="menubar">
      <span class="hamburger-bar"></span>
    </button>
    <button class="navbar-toggle collapsed" data-target="#site-navbar-collapse" data-toggle="collapse">
      <i class="icon wb-more-horizontal" aria-hidden="true"></i>
    </button>
    <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu" routerLink="/">
      <img class="logo" src="../../assets/img/logo.svg" title="">
      <span class="navbar-brand-text">Projects</span>
    </div>
  </div>
  <div class="navbar-container container-fluid">
    <!-- Navbar Collapse -->
    <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
      <!-- Navbar Toolbar -->
      <!-- End Navbar Toolbar -->
      <ul class="nav navbar-toolbar">
        <li class="hidden-float" id="toggleMenubar">
          <a data-toggle="menubar" role="button">
            <i class="icon hamburger hamburger-arrow-left">
              <span class="sr-only">Toggle menubar</span>
              <span class="hamburger-bar"></span>
            </i>
          </a>
        </li>
      </ul>
      <!-- Navbar Toolbar Right -->
      <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
        <li class="dropdown">
          <a data-toggle="dropdown" href="javascript:void(0)" style="color: white;font-size: 15px;" title="Notifications" aria-expanded="false" data-animation="slide-bottom" role="button">
            <i class="fa fa-bell-o" aria-hidden="true"></i> Notifications
            <span class="badge badge-danger up" style="margin-left: 0;"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
            <li class="list-group" role="presentation">
              <div data-role="container">
                <div data-role="content">
                  <a class="list-group-item" role="menuitem"
                     *ngFor="let notification of notifications"
                     [routerLink]="['/projects', notification.project]">
                    <div class="media">
                      <div class="media-body">
                        <h6 class="media-heading">{{notification.message}}</h6>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">{{relativeTime(notification.createdAt)}}</time>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </li>
            <li class="dropdown-menu-footer" role="presentation" *ngIf="">
              <a role="menuitem">
                All notifications
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="navbar-avatar dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
             data-animation="slide-bottom" role="button">
              <span class="avatar avatar-online">
                <img src="../../assets/img/portraits/5.jpg" alt="...">
              </span>
            <span>{{currentUser['firstName']+' '+currentUser['lastName']}}</span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation">
              <a [routerLink]="['/profile']" role="menuitem">
                <i class="icon wb-user" aria-hidden="true"></i>Profile
              </a>
            </li>
            <li class="divider" role="presentation"></li>
            <li role="presentation">
              <a (click)="logout()" role="menuitem" style="cursor: pointer;">
                <i class="icon wb-power" aria-hidden="true"></i>Logout
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- End Site Navbar Seach -->
  </div>
</nav>
