.navbar-header {
  width: 260px;
}

.navbar-container {
  margin-left: 260px;
}

.navbar-default {
  border-color: #e4eaec;
  background: #3498db;
  background: -moz-linear-gradient(left, #3498db 1%, rgba(95, 174, 226, 0.88) 100%);
  background: -webkit-linear-gradient(left, #3498db 1%, rgba(95, 174, 226, 0.88) 100%);
  background: linear-gradient(to right, #3498db 1%, rgba(95, 174, 226, 0.88) 100%);
  .hamburger:before, .hamburger .hamburger-bar, .hamburger:after {
    background: #ffffff;
  }
}

.site-navbar {
  .navbar-header {
    color: #fff;
    background: #ffffff;
    .navbar-brand {
      font-family: "Roboto", sans-serif;
      color: #054487;
      cursor: pointer;
      padding: 5px 6px;
      font-size: 20px;
    }
  }
}

.navbar-inverse {
  .hamburger:before, .hamburger .hamburger-bar, .hamburger:after {
    background: #fff;
  }
}

.hamburger {
  .hamburger-bar {
    margin: .2em 0;
  }
}

.hamburger-close {
  &:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 8%;
    -ms-transform-origin: 8%;
    -o-transform-origin: 8%;
    transform-origin: 8%;
  }
}

.hamburger-close {
  .hamburger-bar {
    opacity: 0;
  }
  &:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 8%;
    -ms-transform-origin: 8%;
    -o-transform-origin: 8%;
    transform-origin: 8%;
  }
}

.hamburger-close.hided:before,
.hamburger-close.collapsed:before {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}

.hamburger-close.hided .hamburger-bar,
.hamburger-close.collapsed .hamburger-bar {
  opacity: 1;
}

.hamburger-close.hided:after,
.hamburger-close.collapsed:after {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}

.hamburger-arrow-left.collapsed {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  .hamburger-bar {
    border-radius: .2em;
  }
  &:before {
    width: .6em;
    -webkit-transform: translate3d(.45em, .1em, 0) rotate(45deg);
    transform: translate3d(.45em, .1em, 0) rotate(45deg);
  }
  &:after {
    width: .6em;
    -webkit-transform: translate3d(.45em, -.1em, 0) rotate(-45deg);
    transform: translate3d(.45em, -.1em, 0) rotate(-45deg);
  }
}

.dropdown-menu-media .list-group{
  overflow: auto;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .navbar-header {
    width: 220px;
  }
  .navbar-container {
    margin-left: 220px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .navbar-header {
    background: #5aabe1;
    //width: 0;
  }
  .navbar-header {
    //display: none;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

}
