<div class="panel">
  <a class="no-underline" role="button" data-toggle="collapse" data-parent="#accordion" href="#customerForm" aria-expanded="true"
    (click)="collapse = !collapse" aria-controls="customerForm">
    <div class="panel-heading">
      <h3 class="panel-title">New Customer</h3>
      <div class="panel-actions plus-sign" [ngClass]="{'panel-actions-collapse': collapse}"></div>
    </div>
  </a>
  <div class="panel-body">
    <div id="customerForm" class="panel-collapse collapse" role="tabpanel">
      <form [formGroup]="customerForm" (submit)="saveCustomer()" novalidate>
        <div class="row row-lg">
          <div class="col-lg-4 margin-vertical-10">
            <div class="form-group">
              <label class="col-lg-12 col-sm-3 control-label" for="name">
                Name
                <span class="required">*</span>
              </label>
              <div class="col-lg-12 col-sm-9">
                <input id="name" class="form-control" name="name" formControlName="name" />
              </div>
            </div>
          </div>
          <div class="col-lg-4 margin-vertical-10">
            <div class="form-group">
              <label class="col-lg-12 col-sm-3 control-label" for="phone">
                Phone
              </label>
              <div class="col-lg-12 col-sm-9">
                <input id="phone" class="form-control" name="phone" formControlName="phone" />
              </div>
            </div>
          </div>
          <div class="col-lg-4 margin-vertical-10">
            <div class="form-group">
              <label class="col-lg-12 col-sm-3 control-label" for="fax">
                Fax
              </label>
              <div class="col-lg-12 col-sm-9">
                <input id="fax" class="form-control" name="fax" formControlName="fax" />
              </div>
            </div>
          </div>
          <div class="col-lg-4 margin-vertical-10">
            <div class="form-group">
              <label class="col-lg-12 col-sm-3 control-label" for="discount">
                Discount
              </label>
              <div class="col-lg-12 col-sm-9">
                <input type="number" id="discount" class="form-control" name="discount" formControlName="discounts" min="0" max="100"/>
              </div>
            </div>
          </div>
          <div class="col-lg-4 margin-vertical-10">
            <div class="form-group">
              <label class="col-lg-12 col-sm-3 control-label" for="vat">
                VAT
              </label>
              <div class="col-lg-12 col-sm-9">
                <input type="number" id="vat" class="form-control" name="vat" formControlName="vat" min="0" max="100"/>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group col-lg-3 pull-right text-right margin-top-10">
          <button class="btn btn-primary" type="submit" [disabled]="!customerForm.valid">
            Add Customer
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Customers list</h3>
    <div class="panel-actions">
      <div class="input-group" style="width: 20em;float: right; margin-top: 15px;">
        <input type="text" class="form-control" [(ngModel)]="search" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" (click)="searchCustomer()">Search</button>
        </span>
      </div>
      <!-- /input-group -->
    </div>
  </div>
  <div class="panel-body">
    <div class="white-box user-table table-responsive" *ngIf="customers?.length>0">
        <table class="table table-hover">
          <thead class="text-capitalize">
            <tr>
              <th>name</th>
              <th>VAT</th>
              <th>discounts</th>
              <th>create date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customer of customers">
              <td>
                <a class="no-underline" [routerLink]="['/customers', customer._id]">{{customer?.name}}</a>
              </td>
              <td>{{customer?.vat}}</td>
              <td>{{customer?.discounts.length ? customer?.discounts[0].discount : ''}}</td>
              <td>{{customer?.createdAt | date:'fullDate'}}</td>
              <td>
                <button class="btn btn-default btn-flat btn-icon btn-sm pull-right" [routerLink]="['/customers', customer._id]">
                  <i aria-hidden="true" class="fa fa-info"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    <ul class="pagination" *ngIf="pages>20">
      <li [class.disabled]="pager.currentPage == 1">
        <a (click)="setPage(1)">First</a>
      </li>
      <li [class.disabled]="pager.currentPage == 1">
        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li class="active" *ngFor="let p of pager.pages" (click)="setPage(p)" [ngClass]="{active: pager.currentPage == page, disabled: pager.currentPage == p}">
        <a>{{p}}</a>
      </li>
      <li [class.disabled]="pager.currentPage == pager.totalPages">
        <a (click)="setPage(pager.currentPage + 1)">Next</a>
      </li>
      <li [class.disabled]="pager.currentPage == pager.totalPages">
        <a (click)="setPage(pager.totalPages)">Last</a>
      </li>
    </ul>
    <div class="text-center" *ngIf="customers?.length==0" >
      <div class="alert alert-info" role="alert">
        0 customers to display
      </div>
    </div>
  </div>
</div>