<div class="panel" *ngIf="visible">
  <a class="no-underline" role="button" data-toggle="collapse" href="#validations">
    <div class="panel-heading">
      <h3 class="panel-title padding-left-15">
        <i class="panel-action fa fa-history"></i>
        Validation history
      </h3>
    </div>
  </a>
  <div id="validations" class="panel-body panel-collapse collapse in" role="tabpanel">

    <div *ngFor="let validation of validations; let i=index" class="panel panel-default margin-5">

      <a class="panel-heading" class="no-underline" role="tab" data-toggle="collapse" href="#validation-{{i}}">
        <h6 class="panel-title">
          Process {{i+1}} ({{validation?.status}})
        </h6>
      </a>

      <div id="validation-{{i}}" class="panel-body testimonial-top panel-collapse collapse padding-0" role="tabpanel">
        <ul class="testimonial-ul row">
          <li *ngFor="let history of validation.history" class="testimonial-item col-xs-12 col-md-6 col-lg-4 padding-horizontal-5 padding-top-5">
            <div class="col-lg-12 table-bordered panel panel-default panel-body margin-bottom-10">
              <span class="testimonial-author">
                {{history['user']['firstName']+' '+history['user']['lastName']}}
                <span class="sticky-top label label-round margin-left-10 label-success" style="float: right;font-size: 13px;font-weight: 400;">{{history['user']['role']}}</span>
              </span>
              <span class="sticky-top label label-round margin-left-10" [ngClass]="{'label-success': history['validation'], 'label-danger': !history['validation']}"
                style="float: right;font-size: 13px;font-weight: 400;">{{history['validation']?'':'Did not '}}Validate</span>
              <span class="testimonial-company">{{history['date'] | date: 'medium'}}</span>
              <div class="testimonial-content margin-top-5">
                <p>{{history['comment'] || 'No comment'}}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>

  </div>
</div>