<div class="panel">
    <a class="no-underline" role="button" data-toggle="collapse" href="#notes-docs">
        <div class="panel-heading">
            <h3 class="panel-title padding-left-15">
                <i class="fa fa-clipboard"></i>
                Notes &amp; attachments :
            </h3>
        </div>
    </a>
    <div id="notes-docs" class="panel-body panel-collapse collapse in" role="tabpanel">
        <!--notes-->
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label">
                    Notes:
                    <span class="required">*</span>
                </label>
                <form [formGroup]="notesForm" (ngSubmit)="addNote()" novalidate>
                    <div class="input-group">
                        <input type="text" class="form-control" name="note" formControlName="note" placeholder="Add note...">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" data-toggle="tooltip" type="submit">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <blockquote class="notes_blc blockquote blockquote-info note" *ngFor="let note of notes; let i = index">
                    <h5 class="margin-bottom-5">
                        {{note.user['firstName']+' '+note.user['lastName']}}
                        <button type="button" (click)="removeNote(note._id)" class="blcbtn btn btn-sm btn-icon btn-flat btn-default" style="float: right;">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </h5>
                    <p>
                        <span style="font-weight: 500" class="margin-right-5">
                            <span class="fa fa-clock-o"></span> {{note.date | date: 'mediumDate'}}
                        </span>{{note.note}}
                    </p>
                </blockquote>
            </div>
        </div>
        <!--End notes-->
        <!--attachment-->
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label">
                    Attachments:
                    <span class="required">*</span>
                </label>
                <input type="file" class="form-control" (change)="fileChange($event)" multiple>
                <div class="table-responsive" *ngIf="attachments?.length!==0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="70%">Name</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of attachments; let i = index">
                                <td>{{ item }}</td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-pill-left btn-info btn-xs" (click)="downloadFile(item)">
                                        <span class="fa fa-arrow-down"></span> Download
                                    </button>
                                    <button type="button" class="btn btn-pill-right btn-danger btn-xs" (click)="removeFile(item)">
                                        <span class="fa fa-times"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--End attachment-->
    </div>
</div>