<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="'200'" [showSpinner]="'false'" [color]="'red'"
  [trickleSpeed]="250" [thick]="false" [ease]="'linear'"></ng-progress>

<div class="panel">
  <a class="no-underline" role="button" data-toggle="collapse" href="#project-details">
    <div class="panel-heading">
      <h3 class="panel-title padding-left-15">
        <i class="fa fa-list-alt"></i>
        Project Details
      </h3>
    </div>
  </a>
  <div class="panel-body panel-collapse collapse in" id="project-details" role="tabpanel">

      <div class="container">
          <div class="row bs-wizard" style="border-bottom:0;">
            <div class="col-xs-1 bs-wizard-step" [ngClass]="EditProjectForm.value.status ==='new' ? 'active': 'disabled'">
              <div class="text-center bs-wizard-stepnum">New</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a href="#" class="bs-wizard-dot"></a>
            </div>
            <div class="col-xs-1 bs-wizard-step" [ngClass]="EditProjectForm.value.status ==='budgeted' ? 'active': 'disabled'"><!-- complete -->
              <div class="text-center bs-wizard-stepnum">Budgeted</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a href="#" class="bs-wizard-dot"></a>
            </div>

            <div class="col-xs-2 bs-wizard-step " [ngClass]="EditProjectForm.value.status ==='service validation' ? 'active': 'disabled'"><!-- active -->
              <div class="text-center bs-wizard-stepnum">Service validation</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a href="#" class="bs-wizard-dot"></a>
            </div>
            <div class="col-xs-2 bs-wizard-step " [ngClass]="EditProjectForm.value.status ==='manager validation' ? 'active': 'disabled'"><!-- active -->
              <div class="text-center bs-wizard-stepnum">Manager validation</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a href="#" class="bs-wizard-dot"></a>
            </div>
            <div class="col-xs-1 bs-wizard-step " [ngClass]="EditProjectForm.value.status ==='in-progress' ? 'active': 'disabled'"><!-- active -->
              <div class="text-center bs-wizard-stepnum">Validated</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a href="#" class="bs-wizard-dot"></a>
            </div>
            <div class="col-xs-1 bs-wizard-step " [ngClass]="EditProjectForm.value.status ==='on-hold' ? 'active': 'disabled'"><!-- complete -->
              <div class="text-center bs-wizard-stepnum">On-hold</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a href="#" class="bs-wizard-dot"></a>
            </div>
            <div class="col-xs-1 bs-wizard-step " [ngClass]="EditProjectForm.value.status ==='canceled' ? 'active': 'disabled'"><!-- active -->
              <div class="text-center bs-wizard-stepnum">Canceled</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a href="#" class="bs-wizard-dot"></a>
            </div>
          </div>
        </div>


    <form [formGroup]="EditProjectForm" (ngSubmit)="saveEditProjectDetail()" novalidate>
      <h5>Stakeholders</h5>
      <div class="row col-md-12 col-sm-12" formGroupName="stakeholders">
        <div class="col-md-4 col-sm-12 form-group">
          <label for="subsidiary">Sales rep</label>
          <ng2-completer inputId="subsidiary" inputName="subsidiary" inputClass="form-control" [openOnFocus]="true" placeholder="Select a subsidiary"
          (selected)="updateSkateholders({field: 'subsidiary', event: $event})"
            formControlName="subsidiary" [datasource]="ownerUsers" [minSearchLength]="0">
          </ng2-completer>
        </div>
        <div class="col-md-4 col-sm-12 form-group">
          <label for="service">Service</label>
          <ng2-completer inputId="service" inputName="service" inputClass="form-control" [openOnFocus]="true" placeholder="Select a service"
          (selected)="updateSkateholders({field: 'service', event: $event})"
            formControlName="service" [datasource]="serviceUsers" [minSearchLength]="0">
          </ng2-completer>
        </div>
        <div class="col-md-4 col-sm-12 form-group">
          <label for="manager">Manager</label>
          <ng2-completer inputId="manager" inputName="manager" inputClass="form-control" [openOnFocus]="true" placeholder="Select a manager"
          (selected)="updateSkateholders({field: 'manager', event: $event})"
            formControlName="manager" [datasource]="managerUsers" [minSearchLength]="0">
          </ng2-completer>
        </div>
      </div>
      <h5>Basic info</h5>
      <div class="row col-md-10 col-sm-12">
        <div class="col-md-4 col-sm-12 form-group">
          <label class="control-label" for="name">
            Project name
            <span class="required">*</span>
          </label>
          <input type="text" class="form-control" name="name" id="name" formControlName="name">
        </div>
        <div class="col-md-4 col-sm-12 form-group">
          <label class="control-label" for="customer">
            Custumer
            <span class="required">*</span>
          </label>
          <ng2-completer inputId="customer" inputName="customer" inputClass="form-control" [openOnFocus]="true" placeholder="Select a customer"
            formControlName="customer" [datasource]="customerData" [minSearchLength]="0">
          </ng2-completer>
        </div>
        <div class="col-md-4 col-sm-12 form-group">
          <label class="control-label" for="language">
            Language
          </label>
          <input class="form-control" name="language" id="language" formControlName="language">
        </div>
        <div class="col-sm-12 form-group">
          <label class="control-label" for="description">
            Project Description
            <span class="required">*</span>
          </label>
          <textarea class="form-control" name="skills" id="description" rows="2" formControlName="description">
          </textarea>
        </div>
        <div class="col-md-4 col-sm-12 form-group">
          <label class="control-label" for="createdBy">
            Created by
            <span class="required">*</span>
          </label>
          <input type="text" class="form-control" name="username" id="createdBy" formControlName="createdBy" readonly>
        </div>
        <div class="col-md-4 col-sm-12 form-group">
          <label class="control-label" for="createdAt">
            Created at
            <span class="required">*</span>
          </label>
          <input type="text" class="form-control" name="username" id="createdAt" formControlName="createdAt" [value]="project['createdAt'] | date: 'EEEE, MMMM d, yyyy h:mm:ss a'"
            readonly>
        </div>
        <div class="col-md-4 col-sm-12 form-group">
          <label class="control-label" for="startDate">
            Start date
            <span class="required">*</span>
          </label>
          <input type="date" class="form-control" name="startDate" id="startDate" formControlName="startDate" [value]="project['startDate'] | date:'y-MM-dd'">
        </div>
        <div class="col-sm-12 form-group">
          <label class="control-label" for="technologies">
            Technologies
            <span class="required">*</span>
          </label>
          <textarea class="form-control" name="technologies" id="technologies" rows="2" formControlName="technologies">
          </textarea>
        </div>
      </div>
      <div class="row col-md-2 col-sm-12">
        <div class="form-group">
          <label class="control-label" for="status">
            Status
          </label>
          <input class="form-control" name="status" id="status" formControlName="status">
        </div>
        <div class="form-group">
          <label class="control-label">
            Project Type
            <span class="required">*</span>
          </label>
          <div class="col-lg-12 col-sm-9">
            <div class="input-group">
              <div class="checkbox-custom checkbox-primary block" *ngFor="let type of types.controls; let i=index">
                <input type="checkbox" [formControl]="type" [id]="i">
                <label [for]="i"> {{typeValues[i].name}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row col-sm-12 text-right">
        <button class="btn btn-sm btn-wak" *ngIf="!isEditing" (click)="editProjectDetail()">Edit</button>
        <span *ngIf="isEditing">
          <button class="btn btn-sm btn-wak" type="submit">Save</button>
          <button class="btn btn-sm btn-wak" (click)="cancelEditProjectDetail()">Cancel</button>
        </span>
      </div>
    </form>
  </div>
</div>
<project-gdpr [project]="project"></project-gdpr>
<project-notes-attachments [id]="id" [project]="project" [notes]="project['notes']" [attachments]="project['attachments']">
</project-notes-attachments>
<div class="panel">
  <a class="no-underline" role="button" data-toggle="collapse" href="#budgeting">
    <div class="panel-heading">
      <h3 class="panel-title padding-left-15">
        <i class="fa fa-calculator"></i>
        Budgeting
      </h3>
      <div class="panel-actions">
        <a class="panel-action fa fa-download" (click)="export()" style="font-size: 20px;padding: 0;"></a>
      </div>
    </div>
  </a>
  <div id="budgeting" class="panel-body panel-collapse collapse in" role="tabpanel">
    <!--features-->
    <div class="col-sm-12 table-responsive">
      <h4>Features</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="width: 20%;">Name</th>
            <th>Description</th>
            <th style="width: 5%;">Sprint</th>
            <th style="width: 10%;">Budget (Day/Man)</th>
            <th style="width: 5%;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let feature of project['features']; let i = index">
            <td>
              <span *ngIf="isEditingFeature === '' || isEditingFeature !== feature._id">{{feature.feature}}</span>
              <input type="text" class="form-control" *ngIf="isEditingFeature !== '' && isEditingFeature === feature._id" #featureName
                name="name" [value]="feature.feature">
            </td>
            <td>
              <span *ngIf="isEditingFeature === '' || isEditingFeature !== feature._id" [ngClass]="{'text-muted': !feature.description}">{{feature.description || 'No description'}}</span>
              <input type="text" class="form-control" *ngIf="isEditingFeature !== '' && isEditingFeature === feature._id" #featureDesc
                name="description" [value]="feature.description">
            </td>
            <td class="text-center">
              <span *ngIf="isEditingFeature === '' || isEditingFeature !== feature._id" [ngClass]="{'text-muted': !feature.sprint}">{{feature.sprint | sprintIndex:project['sprints']}}</span>
              <select name="sprint" class="form-control padding-right-0 padding-left-3" #featureSprint *ngIf="isEditingFeature !== '' && isEditingFeature === feature._id">
                <option value="">Choose sprint</option>
                <option *ngFor="let sp of project['sprints']; let i=index" [value]="sp._id" [selected]="feature.sprint===sp._id">{{i}}</option>
              </select>
            </td>
            <td>
              <span *ngIf="isEditingFeature === '' || isEditingFeature !== feature._id">{{feature.budget}}</span>
              <input type="number" class="form-control" *ngIf="isEditingFeature !== '' && isEditingFeature === feature._id" #featureBudget
                name="budget" [value]="feature.budget" min="0">
            </td>
            <td class="text-center text-nowrap">
              <button type="button" class="btn btn-sm btn-icon btn-flat btn-default" (click)="editFeature(feature)" pTooltip="edit feature"
                tooltipPosition="top">
                <i class="fa" [ngClass]="{'fa-pencil': isEditingFeature !== feature._id,'fa-check': isEditingFeature !== '' && isEditingFeature === feature._id}"
                  aria-hidden="true"></i>
              </button>
              <button type="button" class="btn btn-sm btn-icon btn-flat btn-default" pTooltip="delete feature" tooltipPosition="top" *ngIf="isEditingFeature === '' || isEditingFeature !== feature._id"
                (click)="removeFeature(feature._id)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn btn-sm btn-icon btn-flat btn-default" pTooltip="cancel edit" tooltipPosition="top" *ngIf="isEditingFeature !== '' && isEditingFeature === feature._id"
                (click)="isEditingFeature=''">
                <i class="fa fa-share" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          <tr>
            <form [formGroup]="featureForm" style="display: contents;" (ngSubmit)="addFeature()" novalidate>
              <td>
                <input class="form-control" name="feature" formControlName="feature" placeholder="Feature 1">
              </td>
              <td>
                <input class="form-control" name="description" formControlName="description" placeholder="Description 1...">
              </td>
              <td>
                <select name="sprint" class="form-control padding-right-0 padding-left-3" formControlName="sprint">
                  <option *ngFor="let sp of project['sprints']; let i=index" [value]="sp._id">{{i}}</option>
                </select>
              </td>
              <td>
                <input type="number" class="form-control" name="budget" formControlName="budget" placeholder="Budget (Day/Man)" min="0">
              </td>
              <td class="text-center">
                <button type="button" class="btn btn-sm btn-icon btn-flat btn-default" [disabled]="!canBudgetProject" pTooltip="add feature"
                  tooltipPosition="top" type="submit">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-sm btn-icon btn-flat btn-default" [disabled]="!canBudgetProject" pTooltip="clear" tooltipPosition="top"
                  type="reset">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
              </td>
            </form>
          </tr>
        </tbody>
      </table>
    <div style="font-size: 18px;color: #3c9cdc;font-weight: 500;float: right;">
      <div style="float: right;">Features Budget :
        <span class="label label-outline label-primary">{{featureBudgetSum}} Day/Man</span>
      </div>
    </div>
    </div>
    <!--End features-->
    <!--sprints-->
    <div class="col-sm-12 table-responsive">
      <h4>Sprints</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="width: 6%;">Sprint N°</th>
            <th>Start date</th>
            <th>End date</th>
            <th style="width: 10%;">Duration</th>
            <th style="width: 5%;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sprint of project['sprints']; let i = index">
            <td class="text-center">
              <span>{{i}}</span>
            </td>
            <td>
              <span *ngIf="isEditingSprint === '' || isEditingSprint !== sprint._id">{{sprint.startDate | date:'fullDate'}}</span>
              <input type="date" class="form-control" *ngIf="isEditingSprint !== '' && isEditingSprint === sprint._id" #sprintStartDate
                name="startDate" [value]="sprint.startDate | date:'yyyy-MM-dd'">
            </td>
            <td>
              <span *ngIf="isEditingSprint === '' || isEditingSprint !== sprint._id">{{sprint.endDate | date:'fullDate'}}</span>
              <input type="date" class="form-control" *ngIf="isEditingSprint !== '' && isEditingSprint === sprint._id" #sprintEndDate name="endDate"
                [value]="sprint.endDate | date:'yyyy-MM-dd'">
            </td>
            <td>
              <span>{{sprint.duration}}</span>
            </td>
            <td class="text-center">
              <button type="button" [disabled]="!canBudgetProject" [pTooltip]="(isEditingSprint !== '' && isEditingSprint === sprint._id)?'Save':'Edit'"
                tooltipPosition="top" class="btn btn-sm btn-icon btn-flat btn-default" (click)="editSprint(sprint)">
                <i class="fa" [ngClass]="{'fa-pencil': isEditingSprint !== sprint._id,'fa-check': isEditingSprint !== '' && isEditingSprint === sprint._id}"
                  aria-hidden="true"></i>
              </button>
              <button type="button" class="btn btn-sm btn-icon btn-flat btn-default" pTooltip="Cancel" tooltipPosition="top" *ngIf="isEditingSprint !== '' && isEditingSprint === sprint._id"
                (click)="isEditingSprint=''">
                <i class="fa fa-share" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          <tr>
            <form [formGroup]="sprintForm" style="display: contents;" (ngSubmit)="addSprint()" novalidate>
              <td class="text-center">
                <i class="fa fa-hashtag text-muted" aria-hidden="true"></i>
              </td>
              <td>
                <input type="date" class="form-control" (change)="updateDuration()" name="startDate" formControlName="startDate">
              </td>
              <td>
                <input type="date" class="form-control" (change)="updateDuration()" name="endDate" formControlName="endDate">
              </td>
              <td>
                <input type="number" class="form-control" name="duration" formControlName="duration" readonly>
              </td>
              <td class="text-center">
                <button type="button" class="btn btn-sm btn-icon btn-flat btn-default" pTooltip="Add" tooltipPosition="top" [disabled]="!canBudgetProject"
                  type="submit">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-sm btn-icon btn-flat btn-default" pTooltip="Clear" tooltipPosition="top" [disabled]="!canBudgetProject"
                  type="reset">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
              </td>
            </form>
          </tr>
        </tbody>
      </table>
    </div>
    <!--End sprints-->
    <!--profiles & team-->
    <div class="col-sm-12" style="margin-top: 30px;">
      <h4>Resources</h4>
      <div class="row col-lg-8 col-sm-12">
        <form [formGroup]="profilesForm" (ngSubmit)="setProfiles()" novalidate>
          <h5 style="color: #3c9cdc;">Profiles</h5>
          <div class="col-md-6 col-sm-12 form-group">
            <label class="control-label">Architect
            </label>
            <input type="number" formControlName="architect" (change)="updateProfiles()" class="form-control" placeholder="0" min="0">
          </div>
          <div class="col-md-6 col-sm-12 form-group">
            <label>Dev Mobile
            </label>
            <input type="number" formControlName="mobile" (change)="updateProfiles()" class="form-control" placeholder="0" min="0">
          </div>
          <div class="col-md-6 col-sm-12 form-group">
            <label>Dev Backend
            </label>
            <input type="number" formControlName="backend" (change)="updateProfiles()" class="form-control" placeholder="0" min="0">
          </div>
          <div class="col-md-6 col-sm-12 form-group">
            <label>Dev Web
            </label>
            <input type="number" formControlName="web" (change)="updateProfiles()" class="form-control" placeholder="0" min="0">
          </div>
          <div class="col-md-6 col-sm-12 form-group">
            <label>Designer</label>
            <input type="number" formControlName="designer" (change)="updateProfiles('designer')" name="designer" class="form-control"
              placeholder="0" min="0">
          </div>
          <div class="col-md-6 col-sm-12 form-group">
            <label>Tester</label>
            <input type="number" formControlName="tester" (change)="updateProfiles('tester')" name="tester" class="form-control" placeholder="0"
              min="0">
          </div>
          <div class="col-md-6 col-sm-12 form-group">
            <label>Project Manager</label>
            <input type="number" formControlName="manager" (change)="updateProfiles('manager')" name="manager" class="form-control" placeholder="0"
              min="0">
          </div>
          <div class="col-md-6 col-sm-12 form-group" style="padding-top: 25px">
            <button type="button" type="submit" [disabled]="!canBudgetProject || profilesForm.invalid || profilesForm.pristine" class="btn btn-wak"
              style="display: inline">Save</button>
            <div class="pull-right" style="font-size: 18px;color: #3c9cdc;font-weight: 500; display: inline-block; padding: 6px 15px;">
              <div>Profiles Budget :
                <span class="label label-outline label-primary">{{profileBudgetSum}} Day/Man</span>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row col-lg-4 col-sm-12">
        <h5 style="color: #3c9cdc;">Team</h5>
        <div class="col-md-12 col-sm-12 form-group">
          <label class="control-label" for="team">Our team</label>
          <div class="form-group">
            <ng2-completer inputId="team" inputName="team" inputClass="form-control" *ngIf="!isLoading" (selected)="addResource($event)"
              [disableInput]="!canBudgetProject" [openOnFocus]="true" [clearSelected]="true" placeholder="Add resource" [datasource]="resources"
              [minSearchLength]="0">
            </ng2-completer>
            <div class="form-group panel" id="team-list">
              <table class="table is-indent" *ngIf="project['resources']?.length">
                <tbody>
                  <tr *ngFor="let r of project['resources']">
                    <td class="cell-60 responsive-hide">
                      <div class="media-left padding-right-10">
                        <i class="icon wb-user bg-green-600 white icon-circle" aria-hidden="true"></i>
                      </div>
                    </td>
                    <td>
                      <div class="content">
                        <div class="title">{{r.resource['name']}}
                          <div class="flags responsive-hide">
                            <select #profile class="form-control team-select" (change)="updateResourceProfile(r.resource['_id'], profile.value)">
                              <option>--Select profile--</option>
                              <option *ngFor="let p of profiles" [value]="p" [selected]="r?.role===p">{{p}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="cell-80 forum-posts">
                      <button class="btn-sm btn-icon btn-flat btn-default" pTooltip="Delete" tooltipPosition="left" (click)="removeResource(r.resource['_id'])">
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End profiles & team-->
  </div>
</div>
<project-financial [id]="id" [visible]="project.hasOwnProperty('profiles')" [project]="project">
</project-financial>
<project-validations [visible]="project['validations']?.length>0" [validations]="project['validations']">
</project-validations>
<div id="modalValidation" class="modal fade" role="dialog">
  <div class="modal-dialog" style="margin-top: 15%">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Project validation</h4>
      </div>
      <div class="modal-body padding-10">
        <div class="form-group">
          <label class="control-label" for="validation">
            Comment
            <span class="required">*</span>
          </label>
          <div>
            <textarea name="validation" #validationDesc id="validation" class="form-control" cols="30" rows="5" placeholder="..."></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-success" data-dismiss="modal" (click)="validateProject(true, validationDesc.value)">Validate</button>
        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" *ngIf="canReject" (click)="validateProject(false, validationDesc.value)">Reject</button>
      </div>
    </div>
  </div>
</div>
