<app-toast [message]="toast.message"></app-toast><div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Basics information</h3>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" [formGroup]="profileForm" (ngSubmit)="updateProfile()" novalidate>
      <div class="row row-lg">
        <div class="col-lg-6 form-horizontal">
          <div (mouseover)="hover=true"  class="form-group col-lg-2">
              <img class="avatar s90 js-lazy-loaded" alt="" 
                   src="http://www.gravatar.com/avatar/9c9caf8723db9389f2ff990d50eadcbc?s=180&amp;d=identicon">
          </div>
          <div [ngStyle]="{display: hover==true  ? 'block' : 'none' }" class="avatarinput form-group col-lg-6">
              <label class="col-lg-12 col-sm-3 control-label" for="avatar">
                Avatar
              </label>
              <div  class="col-lg-12 col-sm-9">
                <input class="form-control" formcontrolname="avatar" 
                        id="avatar" name="avatar" type="file">
              </div>
          </div>
        </div>
        <div class="col-lg-6 form-horizontal">
            <div class="form-group">
                <label class="col-lg-12 col-sm-3 control-label" for="firstName">
                  First name
                </label>
                <div class="col-lg-12 col-sm-9">
                  <input id="firstName" class="form-control" name="firstName" formControlName="firstName"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-12 col-sm-3 control-label" for="phone">
                  Phone
                </label>
                <div class="col-lg-12 col-sm-9">
                  <input id="phone" class="form-control" name="phone" formControlName="phone"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-12 col-sm-3 control-label" for="subsidiary">
                  Subsidiary
                </label>
                <div class="col-lg-12 col-sm-9">
                  <select name="subsidiary" id="subsidiary" class="form-control" formControlName="subsidiary">
                    <option *ngFor="let subsidiary of subsidiaries"
                            [value]="subsidiary._id">{{subsidiary.name}}</option>
                  </select>
                </div>
              </div>
          <div class="form-group">
            <label class="col-lg-12 col-sm-3 control-label" for="lastName">
              Last name
            </label>
            <div class="col-lg-12 col-sm-9">
              <input id="lastName" class="form-control" name="lastName" formControlName="lastName"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-12 col-sm-3 control-label" for="email">
              E-mail
            </label>
            <div class="col-lg-12 col-sm-9">
              <input type="email" id="email" class="form-control" name="email" formControlName="email"/>
            </div>
          </div>
        </div>
        <div class="form-group col-lg-12 text-right padding-top-m">
          <button class="btn btn-primary" [disabled]="!profileForm.valid">
            Save change
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Change password</h3>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" [formGroup]="passwordForm" (ngSubmit)="updatePassword()" novalidate>
      <div class="row row-lg">
        <div class="col-lg-6 col-lg-push-3 form-horizontal">
          <div class="form-group">
            <label class="col-lg-12 col-sm-3 control-label" for="oldPassword">
              Old password
            </label>
            <div class="col-lg-12 col-sm-9">
              <input type="password" id="oldPassword" class="form-control" name="oldPassword" formControlName="oldPassword"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-12 col-sm-3 control-label" for="newPassword">
              New password
            </label>
            <div class="col-lg-12 col-sm-9">
              <input type="password" id="newPassword" class="form-control" name="newPassword" formControlName="newPassword"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-12 col-sm-3 control-label" for="confirmPassword">
              Confirm password
            </label>
            <div class="col-lg-12 col-sm-9">
              <input type="password" id="confirmPassword" class="form-control" name="confirmPassword" formControlName="confirmPassword"/>
              <small *ngIf="passwordForm?.controls?.confirmPassword?.errors?.MatchPassword"
                     class="help-block">Password not match</small>
            </div>
          </div>
          <button class="btn btn-primary" [disabled]="!passwordForm.valid">
            Change password
          </button>
        </div>
      </div>
    </form>
  </div>
</div>




<!-- 
  <div _ngcontent-c14="" class="col-lg-6 form-horizontal">
          
          <div _ngcontent-c14="" class="form-group col-lg-2">
            <img class="avatar s90 js-lazy-loaded" alt="" 
                  src="http://www.gravatar.com/avatar/9c9caf8723db9389f2ff990d50eadcbc?s=180&amp;d=identicon">
            
          </div>
          <div _ngcontent-c14="" class="form-group col-lg-6">
            <label _ngcontent-c14="" class="col-lg-12 col-sm-3 control-label" for="avatar">
              Avatar
            </label>
            <div _ngcontent-c14="" class="col-lg-12 col-sm-9">
              <input _ngcontent-c14="" class="form-control ng-valid ng-touched ng-dirty" formcontrolname="avatar" id="avatar" name="avatar" type="file" ng-reflect-name="avatar">
            </div>
          </div>
          <div _ngcontent-c14="" class="form-group">
            <label _ngcontent-c14="" class="col-lg-12 col-sm-3 control-label" for="firstName">
              First name
            </label>
            <div _ngcontent-c14="" class="col-lg-12 col-sm-9">
              <input _ngcontent-c14="" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="firstName" id="firstName" name="firstName" ng-reflect-name="firstName">
            </div>
          </div>
          <div _ngcontent-c14="" class="form-group">
            <label _ngcontent-c14="" class="col-lg-12 col-sm-3 control-label" for="phone">
              Phone
            </label>
            <div _ngcontent-c14="" class="col-lg-12 col-sm-9">
              <input _ngcontent-c14="" class="form-control ng-pristine ng-valid ng-touched" formcontrolname="phone" id="phone" name="phone" ng-reflect-name="phone">
            </div>
          </div>
          
        </div>
-->