<div class="panel">
  <a class="no-underline" role="button" data-toggle="collapse" data-parent="#accordion" href="#subsidiaryForm" aria-expanded="true"
    (click)="collapse = !collapse" aria-controls="subsidiaryForm">
    <div class="panel-heading">
      <h3 class="panel-title">New Subsidary</h3>
      <div class="panel-actions plus-sign" [ngClass]="{'panel-actions-collapse': collapse}"></div>
    </div>
  </a>
  <div class="panel-body">
    <div id="subsidiaryForm" class="panel-collapse collapse" role="tabpanel">
      <form [formGroup]="subsidiaryForm" (ngSubmit)="createSubsidiary()" novalidate>
        <div class="row row-lg">
          <div class="col-lg-6 form-horizontal">
            <div class="form-group">
              <label class="col-lg-12 col-sm-3 control-label" for="name">
                Name
              </label>
              <div class="col-lg-12 col-sm-9">
                <input id="name" class="form-control" name="name" formControlName="name" />
              </div>
            </div>
          </div>
          <div class="col-lg-6 form-horizontal">
            <div class="form-group">
              <label class="col-lg-12 col-sm-3 control-label" for="location">
                Location
              </label>
              <div class="col-lg-12 col-sm-9">
                <input id="location" class="form-control" name="location" formControlName="location" />
              </div>
            </div>
          </div>
          <div class="form-group col-lg-12 text-right padding-top-m">
            <button class="btn btn-primary" [disabled]="!subsidiaryForm.valid">
              Add Subsidiary
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Subsidaries list</h3>
  </div>
  <div class="panel-body">
    <div class="white-box user-table" *ngIf="!isLoading">
      <div class="table-responsive" *ngIf="subsidiaries.length">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Location</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let subsidiary of subsidiaries">
              <td>{{subsidiary?.name}}</td>
              <td>{{subsidiary?.location}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-center" *ngIf="!isLoading && !subsidiaries.length">
        <div class="alert alert-info" role="alert">
          No subsidiaries to display
        </div>
      </div>
    </div>
  </div>
</div>