.page {
  padding-top: 66px;
  margin-left: 260px;
  position: relative;
  min-height: -webkit-calc(100% - 0);
  min-height: calc(100% - 0);
  background: #f1f1f1;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .page {
    margin-left: 220px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .page {
    margin-left: 0;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

}

.page-header.page-header-bordered{
  position: sticky;
  top: 66px;
  z-index: 999;
  width: 100%;
}