<app-nav-bar [notifications]="notifications"></app-nav-bar>
<app-side-bar></app-side-bar>

<toaster-container [toasterconfig]="toastConfig"></toaster-container>
<!-- Page -->
<div class="page">
  <div class="page-header page-header-bordered">
    <app-breadcrumb style="display: inline-block"></app-breadcrumb>
    <div class="text-right pull-right" *ngIf="isEditProject">
      <button type="button" class="btn btn-sm" *ngIf="canCancel" (click)="updateProjectStatus(lastStatus === 'on-hold' ? 'resume' : 'on-hold')" [ngClass]="{'btn-success': lastStatus === 'on-hold', 'btn-warning': lastStatus !== 'on-hold'}">
         {{ lastStatus === "on-hold" ? "Resume" : "Hold"}}
      </button>
      <button type="button" class="btn btn-sm btn-danger" *ngIf="canCancel" (click)="updateProjectStatus('canceled')">Cancel</button>
      <button type="button" class="btn btn-sm btn-primary" *ngIf="canValidate" data-toggle="modal" data-target="#modalValidation">Validate/Reject</button>
    </div>
  </div>
  <div class="page-content container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- End Page -->