<p>Dear {{user.name}},</p>

<p>Your account has been created.</p>


<p>Please enjoy the 4D projects experience.</p>
<p>Here is your credentials details:</p>

<p>URL: https://services.4d.com</p>


<p>Username : {{user.email}}</p>

<p>Password : {{user.password}}</p>
<p>Thank You!</p>