<p>The project Has been rejected by {{user.name}} {{#if project.validation.comment}}("if comment": for the following reasons
    : {{project.validation.comment}}){{/if}}.</p>

<p>Please check it out
    <a href="{{project.url}}">{{project.name}}</a> for more information.</p>

<p>Thank You!</p>