<p>The project {{project.name}} Has been validated by the subsidiary and are waiting for your validation.</p>

<p>Please check it out <a href="{{project.url}}">{{project.name}}</a>.</p>

<p>Thank You!</p>