.page-login {
  height: 100%;
  color: #808386;
  background: #f1f1f1;
}

.page-login:before {
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

.page-login .page .page-content {
  padding: 20px 30px;
  vertical-align: top;
  margin-top: 90px;
  background: #ffffff;
}

.page-login .form-group {
  margin-bottom: 20px;
}

.btn-primary {
  color: #fff;
  background-color: #054487;
  border-color: #054487;
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
  background-color: #3498db;
  border-color: #3498db;
}

.page-login .brand {
  margin-bottom: 28px;
}

.page-login .brand-text {
  color: #808386;
  font-size: 18px;
  text-transform: uppercase;
}

.page-login form {
  width: 340px;
  margin: 30px 0;
}

.page-login form a {
  margin-left: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.page-login .page-copyright {
  color: #808386;
}

.page-login .page-copyright .social .icon,
.page-login .page-copyright .social .icon:hover,
.page-login .page-copyright .social .icon:active {
  color: #ffffff;
}

@media (max-width: 480px) {
  .page-login form {
    width: auto;
  }
}
