<app-toast [message]="toast.message"></app-toast>
<div class="page-login">
  <div class="page animsition vertical-align text-center">
    <div class="page-content vertical-align-middle">
      <div class="brand">
        <img src="../../assets/img/logo.svg" class="img-logo" style="width: 170px;">
      </div>
      <p>Sign into your pages account</p>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group form-material floating" [ngClass]="setClassEmail()">
          <input id="email" class="form-control" type="email" name="email" formControlName="email" autofocus>
          <label class="floating-label" for="email">Email</label>
        </div>
        <div class="form-group form-material floating" [ngClass]="setClassPassword()">
          <input id="password" class="form-control" type="password" name="password" formControlName="password">
          <label class="floating-label" for="password">Password</label>
        </div>
        <button class="btn btn-primary btn-block" [disabled]="!loginForm.valid">Sign in</button>
      </form>
    </div>
  </div>
</div>